html
    head
        title 게시글
    body
        h2 #{data.title}

        p 작성 일자 : #{data.day}
        p 작성자 : #{data.author}
        p #{data.content}


        a(href="/read/"+(data.pre_idx))
            - if(data.pre_idx != null)
                input(type="button" value="이전글")
            - else
                input(type="button" value="이전글" disabled)

        a(href="/home")
            input(type="button" value="목록")

        a(href="/read/"+(data.nex_idx))
            - if(data.nex_idx != null)
                input(type="button" value="다음글")
            - else 
                input(type="button" value="다음글" disabled)