html
    head
        title 글쓰기
        link(rel="stylesheet" href="./style.css")
    body
        h1 글쓰기

        form(name="form" action="/write" method="post")
            input#postTitle(class="writeInput" type="text" name="postTitle" placeholder="제목")
            input(class="writeInput" type="password" name="passwd" placeholder="비밀번호를 4글자 이상 입력하세요")
            textarea(class="writeInput" name="content" style="height:300px;")
    
            a(href="/home")
                input(type="button" value="돌아가기")
        
            input(type="submit" value="작성")
        
        script(type="text/javascript").
            const title = document.querySelector('#postTitle');
            
            title.addEventListener('keydown', (event) => {
                if(event.key === "Enter")
                    event.preventDefault();
            });

            const checkAndPost = () => {
                const form = document.form;
            }